<footer>
  <small>
    <a target="_blank" href="https://t.me/DonaldPumpit">DonaldPump</a> &copy; Telegram channel
  </small>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B3CXPPHS9E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B3CXPPHS9E');
</script>
