<section>
	{% for post in postslist | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<p class="authr">
			<small>{{ post.data.author }}</small>
				<time datetime="{{ post.date | machineDate }}">
					<small>{{ post.date | readableDate }}</small>
				</time>
			</p>
			<h3>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			<div>
			<img src="{{ metadata.url }}{{ post.data.mimage }}?nf_resize=fit&w=250" alt="{{ title | safe }}" />
			</div>
			{% if post.data.summary %}
				<p>
					{{ post.data.summary }}
				</p>
			{% endif %}
			{% if post.data.tags %}
				<p>
					{% for tag in post.data.tags %}
		  			{%- if tag != "post" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
