---
layout: layouts/base.njk
section: post
---

<article>

    <div class="authdiv">
      <b><a href="/authors/{{ author | slug }}/">{{ author }}</a></b> &nbsp;&nbsp;&nbsp; <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
    </div>

  <h1>{{ title }}</h1>


  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/' | url }}">← На главную</a>
</nav>
