---
layout: layouts/base.njk
section: post
---

<article>

    <div class="authdiv">
      {{ author }}<time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
    </div>

  <h1>{{ title }}</h1>

  <img src="{{ mimage }}" alt="{{ title }}" style="width:640px;"/>
  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/' | url }}">← На главную</a>
</nav>
